@import "_base", "mqueries";
* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  p {
    color: $GBlue;
    line-height: 1.6em;
    @include for-ipads {
      line-height: 1.4em;
    }
  }
}
main,
header {
  margin: 0 2.5em;
}
header {
  padding: 3em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  span {
    cursor: pointer;
  }
  nav {
    display: none;
    ul {
      text-transform: uppercase;
      display: flex;
      list-style: none;
      align-items: center;
      li {
        margin-right: 1.5em;
      }
    }
    button {
      border: 2px solid $PrimaryRed;
      color: #fff;
      background: $PrimaryRed;
      cursor: pointer;
      padding: 0.7em 2.5em;
      border-radius: 5px;
    }
    @include for-ipads {
      display: block;
      button {
        &:hover {
          border-color: 2px solid $PrimaryRed;
          background-color: #fff;
          color: $PrimaryRed;
        }
      }
      ul li {
        &:hover {
          cursor: pointer;
          color: $PrimaryRed;
        }
      }
    }
  }
  @include for-ipads {
    height: 50px;
    span {
      display: none;
    }
  }
}
.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  margin: 2em 0;
  .hero-image img {
    width: 358px;
  }
  .background {
    width: 280px;
    height: 210px;
    top: 175px;
    background: $PrimaryBlue;
    position: absolute;
    z-index: -1;
    right: 0;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 90px;
  }
  .hero-content {
    font-weight: 400;
    margin: 2em 0;
    text-align: center;
    .CTA {
      padding: 1.5em 0;
      button:nth-of-type(1) {
        -webkit-box-shadow: 0px 12px 10px -5px $PrimaryBlue;
        box-shadow: 0px 7px 10px -5px hsla(231, 69%, 60%, 0.479);
        background: $PrimaryBlue;
        color: #fff;
        padding: 1em 1em;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 130px;
        margin-right: 0.5em;
      }
      button:nth-of-type(2) {
        -webkit-box-shadow: 0px 12px 10px -5px $PrimaryBlue;
        box-shadow: 0px 7px 10px -5px hsla(231, 69%, 60%, 0.479);
        background: rgba(238, 238, 238, 0.726);
        outline-color: rgba(238, 238, 238, 0.726);
        color: $DBlue;
        padding: 1em 1em;
        width: 130px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    }
  }
  @include for-ipads {
    flex-direction: row;
    .hero-content {
      text-align: left;
      h2 {
        margin: 0;
      }
      p {
        font-size: 0.8em;
      }
    }
    .hero-image img {
      max-width: 540px;
    }
  }
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  .background2 {
    width: 290px;
    height: 200px;
    background: $PrimaryBlue;
    position: absolute;
    z-index: -1;
    top: 1280px;
    left: 0;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
  }
  .feature-content {
    text-align: center;
    p {
      line-height: 2em;
    }
  }
  .feature-tabs {
    margin-bottom: 5em;
    ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 4em;
    }
    li {
      border-top: 1px solid $GBlue;
      margin-right: 0.5em;
      padding: 1em 0;
    }
    li:nth-of-type(3) {
      border-bottom: 1px solid $GBlue;
    }
    a {
      color: $DBlue;
      text-align: center;
      text-decoration: none;
      border-bottom: 3px solid $PrimaryRed;
      padding-bottom: 1em;
    }
    img {
      text-align: center;
      width: 290px;
    }
    .tabs {
      text-align: center;
      .tab-image-1,
      .tab-image-2,
      .tab-image-3 {
        margin-bottom: 5em;
      }
      button {
        background: $PrimaryBlue;
        padding: 1em 2.2em;
        color: #fff;
        outline: none;
        border-radius: 5px;
      }
    }
  }
}
.extension {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .extension-content {
    text-align: center;
    margin-bottom: 1em;
    padding: 0 1em;
  }
  .extension-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .card {
      border-radius: 10px;
      margin-bottom: 1.5em;
      width: 250px;
      height: 300px;
      p {
        margin-bottom: 4em;
        margin-top: 0;
      }
      h4 {
        margin-top: 0.7em;
        margin-bottom: 0;
      }
      button {
        padding: 1em 1.5em;
        border-radius: 5px;
        border: none;
        background: $PrimaryBlue;
        cursor: pointer;
        color: #fff;
      }
    }
    .chrome,
    .firefox,
    .opera {
      -webkit-box-shadow: 0px 12px 10px -5px $PrimaryBlue;
      box-shadow: 0px 7px 10px -5px hsla(231, 69%, 60%, 0.479);
      background: url("/images/bg-dots.svg");
      background-repeat: no-repeat;
      background-position-y: 210px;
      background-color: rgba(248, 246, 246, 0.781);
      padding: 1em 1em;
    }
  }
}
.FAQ {
  margin: 5em 0;
  .FAQ-content {
    margin-bottom: 3em;
    text-align: center;
  }
  .FAQ-questions {
    display: flex;
    flex-direction: column;
    button {
      margin: 0 auto;
      border: none;
      width: 100px;
      color: #fff;
      padding: 1em 1.5em;
      border-radius: 5px;
      background: $PrimaryBlue;
    }
  }
  #accordion .questions {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $GBlue;
    img {
      cursor: pointer;
    }
  }
}
footer {
  .form {
    height: 330px;
    background: $PrimaryBlue;
    .form-content {
      color: #fff;
      padding: 1em 1em;
      text-align: center;
      p {
        letter-spacing: 0.4em;
        text-transform: uppercase;
        font-family: "Rubik", sans-serif;
        color: #fff;
      }
      h3 {
        font-size: 1.5em;
      }
    }
    form {
      margin: 0 auto;
      width: 250px;
      display: flex;
      flex-direction: column;
      input {
        border-radius: 5px;
        border: none;
        padding: 1.2em 1.2em;
        margin-bottom: 1em;
      }
      button {
        background: $PrimaryRed;
        color: #fff;
        border-radius: 5px;
        border: none;
        padding: 1.2em 1.2em;
      }
    }
  }
  .footer-content {
    height: 100%;
    padding: 1.5em 0;
    background: $DBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5em 0;
      color: #fff;
      ul {
        padding: 0;
        text-transform: uppercase;
        list-style: none;
        li {
          text-align: center;
          margin-bottom: 1.5em;
        }
      }
      .footer-logo {
        width: 176px;
        svg {
          width: 100%;
        }
      }
    }
    .footer-social {
      span {
        margin-right: 0.5em;
      }
      span i {
        font-size: 1.5em;
        color: #fff;
      }
    }
  }
}
