* {
  font-display: floor($number: 0);
}
@import "_base";





.hero {
  .background {
    width: 350px;
    height: 170px;
    background: $PrimaryBlue;
    position: absolute;
    z-index: -1;
    right: 0;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 90px;
  }
}
